.sheet-icon-img-container.iconfont,
.sheet-submenu-arrow .iconfont
{
    font-size: 24px;
}

.sheet-toolbar-menu-button .sheet-iconfont-xiayige,
.sheet-toolbar-combo-button .sheet-iconfont-xiayige
{
    font-size: 12px;
    top: -8px;
    left: -3px;
}

.sheet-toolbar-select .sheet-iconfont-xiayige{
    margin-right: 4px;
}

#sheet-icon-morebtn{
    position: absolute;
    right: 15px;
    transform: translate(0,-50%);
    top: 50%;
}


.toolbar .sheet-icon-text-color,
.toolbar .sheet-icon-cell-color,
.toolbar .sheet-icon-border-all,
.toolbar .sheet-icon-valign,
.toolbar .sheet-icon-textwrap
{
    margin-right: -3px;
}

.toolbar .sheet-icon-merge-button,
.toolbar .sheet-icon-align,
.toolbar .sheet-icon-rotation,
.toolbar .sheet-icon-function,
.toolbar .sheet-freezen-btn-horizontal
{
    margin-right: -4px;
}

#sheet-icon-morebtn{
    padding: 2px 13px 0 5px;
}
#sheet-icon-morebtn .iconfont{
    top:-9px;
}

div.sheet-button-disable{
    color: #d6d6d6;
    cursor: default;
}

div.sheet-button-disable.sheets-add:hover,
div.sheet-button-disable.sheet-button-custom:hover {
    color: #d6d6d6;
    background-color: #fafafc;
}

/* custom common style */

.sheet-button-custom{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sheet-button-custom:hover{
    background-color: #E1E4E8;
}

/* more button border */
#sheet-icon-morebtn-div{
    border: 1px solid rgb(212, 212, 212);
}

/* sheet bar add/menu button */
/* #sheets-add, #sheets-m{
    padding: 1px 3px;
} */
.sheets-add .iconfont, .sheets-m .iconfont{
    font-size: 21px;
}

/* sheet bar left/right scroll */
#sheets-leftscroll , #sheets-rightscroll{
    padding:6px 10px;
}

input.sheet-mousedown-cancel{
    border:1px solid #A1A1A1;
}
input.sheet-mousedown-cancel:focus{
    border: 1px solid rgb(1, 136, 251);
    outline: none;
}